/* Styling des Bodies */
body {
    padding: 1%;
    text-align: center;
    overflow-x: hidden;
}

/* Styling des Header 1 */
h1 {
    font-family: 'Yusei Magic', sans-serif;
}

/* Styling des buttons */
.button {
    width: 10rem;
}

/* Anpassung der navigation */
.navigation {
    margin-top: 40px;
}

/* Styling des returns */
.return {
    left: 50%;
    top: 50%;
}

/* Styling des containers */
.container {
    position: relative;
    width: 100%;
}

/* Styling der JustGage - Gages */
#g1,
#g2 {
    margin: 20px;
    display: inline-block;
    width: 200px;
    height: 160px;
